{{> head}}

{{>navbar}}
<div>
    <h1>About</h1>

    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quia, nam voluptas dolores sunt voluptatem iste
        maiores officia consequuntur consequatur reiciendis sapiente porro, sint saepe labore quaerat exercitationem
        expedita laboriosam.</div>
</div>
{{> footer}}